-#  This file is app/views/enrolls/index.html.haml
%h1 All Quizzes available

%table#quizzes{:class => 'table table-striped'}
  %thead
    %tr
      %th Quiz Name
      %th Quiz Instructor
      %th Take Quiz
      %th Score
  %tbody
    - @eligibleSurvey.each do |quiz|
      %tr
        %td= quiz.name
        %td= quiz.email
        - if Quiz.find_by_studentemail(current_user.email) && Quiz.find_by_quizid(quiz.id)
          %td= link_to  "Already taken (click for the answers)", quiz
          %td #{Quiz.where("studentemail = ? AND quizid = ?", current_user.email, quiz.id)[0].score}%
        - else
          %td= link_to "Take quiz #{quiz.name}", quiz_path(quiz)
        %td 



